WAHOJOBS_ORIGIN_AUTH_TOKEN=REPLACE_WITH_43_CHARACTER_BASE64URL_SECRET
WAHOJOBS_ORIGIN_HOST=REPLACE_WITH_ORIGIN_HOSTNAME
WAHOJOBS_ORIGIN_PORT=8080
WAHOJOBS_PUBLIC_AUTHORITY=REPLACE_WITH_VERCEL_PREVIEW_HOST
